:root {
    --font_weight1: 600;
    --font_weight2: 500;
    --font_weight3: 400;
    --font_title1--font_size--regular: 24px;
    --font_title1--line_height--regular: 28px;
    --font_title1--font_weight--regular: 500;
    --font_title2--font_size--regular: 20px;
    --font_title2--line_height--regular: 26px;
    --font_title2--font_weight--regular: 500;
    --font_title3--font_size--regular: 17px;
    --font_title3--line_height--regular: 22px;
    --font_title3--font_weight--regular: 500;
}